<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                   <!--<![endif]-->
<head>

    <% include ../includes/head.ejs %>

</head>
<body>
<div id="container" class="clearfix">

    <% include ../includes/left.ejs %>

    <% include ../includes/right.ejs %>

    <div id="main" class="clearfix">

        <% include ../includes/header.ejs %>

        <div id="content" class="clearfix">

            <header id="header-sec">
                <div class="inner-padding">
                    <div class="pull-left">
                        <h2>
                            Скрыть
                        </h2>
                    </div>
                    <div class="pull-right">
                        <% if (modules.abuse.status) { %>
                        <a href="javascript:void(0)" data-module="abuse" data-status="false" class="btn btn-danger module-status">
                            <i class="fa fa-power-off"></i>&nbsp;Отключить
                        </a>
                        <% } else { %>
                        <a href="javascript:void(0)" data-module="abuse" data-status="true" class="btn btn-success module-status">
                            <i class="fa fa-power-off"></i>&nbsp;Активировать
                        </a>
                        <% } %>
                    </div>
                </div>
            </header>

            <div class="window">
                <div class="actionbar">
                    <div class="pull-left">
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="left">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a href="/<%- config.urls.admin %>/abuse" class="btn">
                            Модуль скрытия фильмов
                        </a>
                    </div>
                    <div class="pull-right">
                        <p>
                            <% if (modules.abuse.status) { %>
                            <span class="label label-success">Включен</span>
                            <% } else { %>
                            <span class="label label-danger">Отключен</span>
                            <% } %>
                        </p>
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="right">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

                <div class="inner-padding">

                    <% if (modules.abuse.status) { %>

                    <div class="faq">

                        <article class="faq-group">
                            <header>
                                <i class="fa fa-minus"></i>
                                <h3>
                                    Автоматическое скрытие фильмов
                                </h3>
                            </header>
                            <div class="faq-content clearfix">

                                <div class="row">

                                    <div class="col-sm-12">
                                        <div class="helper-text-box">
                                            <strong>1.</strong> Создайте почту на любом почтовом сервисе;<br>
                                            <strong>2.</strong> Укажите IMAP данные для доступа к почте;<br>
                                            <strong>3.</strong> Почта будет каждый день сканироваться на
                                            наличие обращений от правообладателей и автоматически добавлять
                                            фильмы в список скрытия.<br>
                                            <span class="text-danger">ВАЖНО:</span> Желательно не использовать
                                            общедоступную почту которая используется для связи с администратором. Так
                                            как «недоброжелатели» могут начать отправлять «ненастоящие» письма от имени
                                            правообладателей, а система будет скрывать фильмы указанные в них. При
                                            первом обращении правообладателя на общедоступную почту, напишите ему
                                            ответ, чтобы все письма присылал на указанную здесь почту для
                                            автоматической обработки.
                                        </div>
                                    </div>

                                </div>

                                <div class="spacer-20"></div>

                                <div class="row">

                                    <div class="col-sm-3">
                                        <label>Email:</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" name="modules.abuse.data.imap.user" value="<%= modules.abuse.data.imap.user %>" class="form-control">
                                    </div>

                                </div>

                                <div class="spacer-20"></div>

                                <div class="row">

                                    <div class="col-sm-3">
                                        <label>Пароль:</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" name="modules.abuse.data.imap.password" value="<%= modules.abuse.data.imap.password %>" class="form-control">
                                    </div>

                                </div>

                                <div class="spacer-20"></div>

                                <div class="row">

                                    <div class="col-sm-3">
                                        <label>Почтовый сервер:</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" name="modules.abuse.data.imap.host" value="<%= modules.abuse.data.imap.host %>" class="form-control">
                                    </div>

                                </div>

                                <div class="spacer-20"></div>

                                <div class="row">

                                    <div class="col-sm-3">
                                        <label>Порт:</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" name="modules.abuse.data.imap.port" value="<%= modules.abuse.data.imap.port %>" class="form-control">
                                    </div>

                                </div>

                                <div class="spacer-20"></div>

                                <div class="row">

                                    <div class="col-sm-3">
                                        <label>TLS:</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <select name="modules.abuse.data.imap.tls" class="form-control">
                                            <option value="1" <% if (modules.abuse.data.imap.tls) { %>selected="selected"<% } %>>
                                                Да
                                            </option>
                                            <option value="0" <% if (!modules.abuse.data.imap.tls) { %>selected="selected"<% } %>>
                                                Нет
                                            </option>
                                        </select>
                                    </div>

                                </div>

                            </div>
                        </article>
                    </div>

                    <div class="spacer-20"></div>

                    <div class="row">
                        <div class="col-sm-12">
                            <textarea class="form-control" name="modules.abuse.data.message" placeholder="Сообщение для пользователя."><% if (modules.abuse.data.message) { %><%- modules.abuse.data.message %><% } %></textarea>
                        </div>
                    </div>

                    <div class="spacer-10"></div>

                    <div class="row">
                        <div class="col-sm-12">

                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="ID КиноПоиск фильма или ссылка на фильм" data-add-id="modules.abuse.data.movies">
                                <span class="input-group-btn">
                                    <a href="javascript:void(0)" class="btn btn-default" data-add-name="modules.abuse.data.movies">
                                        <span class="fa fa-plus"></span> Добавить фильм
                                    </a>
                                </span>
                            </div>

                            <div class="spacer-10"></div>

                            <div class="advanced-textarea">

                                <div class="thumbs-list thumbs-small">
                                    <ul data-add-name="modules.abuse.data.movies">
                                        <% if (modules.abuse.data.movies) { %>
                                        <% modules.abuse.data.movies.forEach(function (id) { %>
                                        <li data-delete-id="<%- id %>" data-delete-name="modules.abuse.data.movies">
                                            <img class="media-object" src="https://st.kp.yandex.net/images/sm_film/<%- id %>.jpg" alt="ID: <%- id %>" title="ID: <%- id %>">
                                        </li>
                                        <% }); %>
                                        <% } %>
                                    </ul>
                                </div>

                                <div style="display: none" id="abuse_ids">

                                    <div class="spacer-10"></div>

                                    <div class="text-muted">
                                        Фильмы:
                                    </div>

                                    <div class="spacer-10"></div>

                                    <textarea class="form-control input_ids" name="modules.abuse.data.movies" placeholder="ID КиноПоиск фильмов"><% if (modules.abuse.data.movies) { %><%- modules.abuse.data.movies.join(',') %><% } %></textarea>

                                    <div class="spacer-10"></div>

                                </div>

                                <div class="advanced-textarea-footer">
                                    <div class="pull-right">
                                        <a href="javascript:void(0)" onclick="document.querySelector('#abuse_ids').style.display = 'block'" class="btn btn-default">
                                            Редактировать список ID
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% } else { %>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="attention-box attention-danger">
                                <h4>Модуль «Скрыть» отключен</h4>
                                <div class="spacer-20"></div>
                                <p class="text-muted">
                                    Модуль «Скрыть» позволяет скрыть с сайта фильмы, на которые наложены ограничения от правообладателей.
                                    <br>
                                    Чтобы включить модуль, нажмите на кнопку «Активировать» вверху экрана.
                                </p>
                            </div>
                        </div>
                    </div>

                    <% } %>

                </div>
            </div>

            <% include ../includes/footer.ejs %>

        </div>
    </div>
</div>

</body>
</html>