<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                   <!--<![endif]-->
<head>

    <% include ../includes/head.ejs %>

</head>
<body>
<div id="container" class="clearfix">

    <% include ../includes/left.ejs %>

    <% include ../includes/right.ejs %>

    <div id="main" class="clearfix">

        <% include ../includes/header.ejs %>

        <div id="content" class="clearfix">

            <header id="header-sec">
                <div class="inner-padding">
                    <div class="pull-left">
                        <h2>
                            <%- title %>
                        </h2>
                    </div>
                    <div class="pull-right">
                        <% if (modules.blocking.status) { %>
                        <a href="javascript:void(0)" data-module="blocking" data-status="false" class="btn btn-danger module-status">
                            <i class="fa fa-power-off"></i>&nbsp;Отключить
                        </a>
                        <% } else { %>
                        <a href="javascript:void(0)" data-module="blocking" data-status="true" class="btn btn-success module-status">
                            <i class="fa fa-power-off"></i>&nbsp;Активировать
                        </a>
                        <% } %>
                    </div>
                </div>
            </header>

            <div class="window">
                <div class="actionbar">
                    <div class="pull-left">
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="left">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a href="/<%- config.urls.admin %>/blocking" class="btn">
                            Модуль блокировки плеера и торрентов
                        </a>
                        <a href="https://CinemaPress.org/admin/blocking.html" class="btn" title="Информация о параметрах модуля блокировки плеера и торрентов" target="_blank">
                            <i class="fa fa-info-circle text-muted"></i>
                        </a>
                    </div>
                    <div class="pull-right">
                        <p>
                            <% if (modules.blocking.status) { %>
                            <span class="label label-success">Включен</span>
                            <% } else { %>
                            <span class="label label-danger">Отключен</span>
                            <% } %>
                        </p>
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="right">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

                <div class="inner-padding">

                    <% if (modules.blocking.status) { %>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-drivers-license-o"></i>&nbsp;&nbsp;&nbsp;Вставить рекламу в плеер
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/blocking.html#blocking1" class="csstip" title="Рекламный блок будет стоять в плеере определенное число секунд перед началом просмотра. Если поле «Пропустить» будет пустым, то по окончании таймера, рекламный блок автоматически исчезнет, в противном случае пользователь будет видеть рекламу до момента, пока не нажмет на кнопку" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-1 col-xs-1 text-center">
                                            <div class="inline-labels">
                                                <label style="margin: 5px;">
                                                    <input name="modules.blocking.data.display" value="adv" <% if (modules.blocking.data.display == 'adv') { %> checked="" <% } %> type="radio"><span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-11 col-xs-11">
                                            <div class="faq">
                                                <article class="faq-group">
                                                    <header>
                                                        <i class="fa fa-minus"></i>
                                                        <h3>Параметры</h3>
                                                    </header>
                                                    <div class="faq-content clearfix">

                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                Таймер блокировки:
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <select name="modules.blocking.data.adv.time" class="form-control">
                                                                    <% for (var i = 10; i <= 600; i = i+10) { %>
                                                                    <% if (modules.blocking.data.adv.time == i) { %>
                                                                    <option value="<%= i %>" selected="selected">
                                                                        <%- i %> секунд
                                                                    </option>
                                                                    <% } else { %>
                                                                    <option value="<%= i %>">
                                                                        <%- i %> секунд
                                                                    </option>
                                                                    <% } %>
                                                                    <% } %>
                                                                </select>
                                                            </div>
                                                            <div class="spacer-10"></div>
                                                            <div class="col-xs-6">
                                                                Пропустить:
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <input type="text" name="modules.blocking.data.adv.skip" value="<%= modules.blocking.data.adv.skip %>" class="form-control">
                                                            </div>
                                                            <div class="spacer-10"></div>
                                                            <div class="col-sm-12">
                                                                <div class="advanced-textarea">

                                                                    <div class="text-muted">
                                                                        Сообщение для пользователя:
                                                                    </div>

                                                                    <div class="spacer-10"></div>

                                                                    <textarea class="form-control textarea" name="modules.blocking.data.adv.message"><%- modules.blocking.data.adv.message %></textarea>

                                                                    <div class="spacer-10"></div>

                                                                    <div class="text-muted">
                                                                        Рекламный код:
                                                                    </div>

                                                                    <div class="spacer-10"></div>

                                                                    <textarea class="form-control textarea" name="modules.blocking.data.adv.code"><%- modules.blocking.data.adv.code %></textarea>

                                                                </div>
                                                                <div class="helper-text-box">
                                                                    <p>
                                                                        Код <code>[timer]</code> отображает обратный отсчет.
                                                                    </p>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-key"></i>&nbsp;&nbsp;&nbsp;Платная подписка
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/blocking.html#blocking2" class="csstip" title="Генерируете список ключей через запятую и продаете их через различные торговые площадки, например на digiseller. Пользователь после ввода ключа сможет смотреть все фильмы на сайте без ограничений" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-1 col-xs-1 text-center">
                                            <div class="inline-labels">
                                                <label style="margin: 5px;">
                                                    <input name="modules.blocking.data.display" value="sub" <% if (modules.blocking.data.display == 'sub') { %> checked="" <% } %> type="radio"><span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-11 col-xs-11">
                                            <div class="faq">
                                                <article class="faq-group">
                                                    <header>
                                                        <i class="fa fa-minus"></i>
                                                        <h3>Параметры</h3>
                                                    </header>
                                                    <div class="faq-content clearfix">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="advanced-textarea">

                                                                    <div class="text-muted">
                                                                        Сообщение для пользователя:
                                                                    </div>

                                                                    <div class="spacer-10"></div>

                                                                    <textarea class="form-control textarea" name="modules.blocking.data.sub.message"><%- modules.blocking.data.sub.message %></textarea>

                                                                    <div class="spacer-10"></div>

                                                                    <div class="text-muted">
                                                                        Список ключей через запятую:
                                                                    </div>

                                                                    <div class="spacer-10"></div>

                                                                    <textarea class="form-control textarea" id="key" name="modules.blocking.data.sub.keys"><%- modules.blocking.data.sub.keys %></textarea>

                                                                    <div class="advanced-textarea-footer">
                                                                        <div>
                                                                            <a href="javascript:void(0)" id="plus10" class="btn btn-default">
                                                                                + 10 ключей
                                                                            </a>
                                                                            <script>
                                                                                var plus10 = document.getElementById('plus10');
                                                                                plus10.addEventListener('click', function () {
                                                                                    var keys = [];
                                                                                    for (var i = 1; i <= 10; i++) {
                                                                                        keys.push('CP' + Math.random().toString().split('.')[1]);
                                                                                    }
                                                                                    var key = document.getElementById('key');
                                                                                    key.value += ',' + keys.join(',');
                                                                                });
                                                                            </script>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-share-alt"></i>&nbsp;&nbsp;&nbsp;Поделиться в соц. сеть
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/blocking.html#blocking3" class="csstip" title="Пока пользователь не нажмёт на кнопку «Поделиться» в одну из соц. сетей, он не сможет начать просмотр определенное время. Если пользователь кликнет по кнопке «Поделиться», то блок закроется через 10 сек" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-1 col-xs-1 text-center">
                                            <div class="inline-labels">
                                                <label style="margin: 5px;">
                                                    <input name="modules.blocking.data.display" value="share" <% if (modules.blocking.data.display == 'share') { %> checked="" <% } %> type="radio"><span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-11 col-xs-11">
                                            <div class="faq">
                                                <article class="faq-group">
                                                    <header>
                                                        <i class="fa fa-minus"></i>
                                                        <h3>Параметры</h3>
                                                    </header>
                                                    <div class="faq-content clearfix">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                Таймер блокировки:
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <select name="modules.blocking.data.share.time" class="form-control">
                                                                    <% for (var i = 10; i <= 600; i = i+10) { %>
                                                                    <% if (modules.blocking.data.share.time == i) { %>
                                                                    <option value="<%= i %>" selected="selected">
                                                                        <%- i %> секунд
                                                                    </option>
                                                                    <% } else { %>
                                                                    <option value="<%= i %>">
                                                                        <%- i %> секунд
                                                                    </option>
                                                                    <% } %>
                                                                    <% } %>
                                                                </select>
                                                            </div>
                                                            <div class="spacer-10"></div>
                                                            <div class="col-sm-12">
                                                                <div class="advanced-textarea">

                                                                    <div class="text-muted">
                                                                        Сообщение для пользователя:
                                                                    </div>

                                                                    <div class="spacer-10"></div>

                                                                    <textarea class="form-control textarea" name="modules.blocking.data.share.message"><%- modules.blocking.data.share.message %></textarea>

                                                                </div>
                                                                <div class="helper-text-box">
                                                                    <p>
                                                                        Код <code>[timer]</code> отображает обратный отсчет.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-bug"></i>&nbsp;&nbsp;&nbsp;Пользователи с AdBlock
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/blocking.html#blocking4" class="csstip" title="Ограничить начало просмотра таймером у пользователей, которые пользуются AdBlock или другими блокировщиками рекламы" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-1 col-xs-1 text-center">
                                            <div class="inline-labels">
                                                <label style="margin: 5px;">
                                                    <input name="modules.blocking.data.display" value="adblock" <% if (modules.blocking.data.display == 'adblock') { %> checked="" <% } %> type="radio"><span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-11 col-xs-11">
                                            <div class="faq">
                                                <article class="faq-group">
                                                    <header>
                                                        <i class="fa fa-minus"></i>
                                                        <h3>Параметры</h3>
                                                    </header>
                                                    <div class="faq-content clearfix">

                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                Таймер блокировки:
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <select name="modules.blocking.data.adblock.time" class="form-control">
                                                                    <% for (var i = 10; i <= 600; i = i+10) { %>
                                                                    <% if (modules.blocking.data.adblock.time == i) { %>
                                                                    <option value="<%= i %>" selected="selected">
                                                                        <%- i %> секунд
                                                                    </option>
                                                                    <% } else { %>
                                                                    <option value="<%= i %>">
                                                                        <%- i %> секунд
                                                                    </option>
                                                                    <% } %>
                                                                    <% } %>
                                                                </select>
                                                            </div>
                                                            <div class="spacer-10"></div>
                                                            <div class="col-sm-12">
                                                                <div class="advanced-textarea">

                                                                    <div class="text-muted">
                                                                        Сообщение для пользователя:
                                                                    </div>

                                                                    <div class="spacer-10"></div>

                                                                    <textarea class="form-control textarea" name="modules.blocking.data.adblock.message"><%- modules.blocking.data.adblock.message %></textarea>

                                                                </div>
                                                                <div class="helper-text-box">
                                                                    <p>
                                                                        Код <code>[timer]</code> отображает обратный отсчет.
                                                                    </p>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-gavel"></i>&nbsp;&nbsp;&nbsp;Легальный киносайт
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/blocking.html#blocking5" class="csstip" title="Показывать только трейлер фильма для легализации киносайта" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-1 col-xs-1 text-center">
                                            <div class="inline-labels">
                                                <label style="margin: 5px;">
                                                    <input name="modules.blocking.data.display" value="legal" <% if (modules.blocking.data.display == 'legal') { %> checked="" <% } %> type="radio"><span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-11 col-xs-11">
                                            <div class="faq">
                                                <article class="faq-group">
                                                    <header>
                                                        <i class="fa fa-minus"></i>
                                                        <h3>Параметры</h3>
                                                    </header>
                                                    <div class="faq-content clearfix">

                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                Таймер блокировки:
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <select name="modules.blocking.data.legal.time" class="form-control">
                                                                    <% for (var i = 0; i <= 600; i = i+10) { %>
                                                                    <% if (modules.blocking.data.legal.time == i) { %>
                                                                        <% if (i === 0) { %>
                                                                        <option value="<%= i %>" selected="selected">
                                                                            Не показывать
                                                                        </option>
                                                                        <% } else { %>
                                                                        <option value="<%= i %>" selected="selected">
                                                                            <%- i %> секунд
                                                                        </option>
                                                                        <% } %>
                                                                    <% } else { %>
                                                                        <% if (i === 0) { %>
                                                                        <option value="<%= i %>">
                                                                            Не показывать
                                                                        </option>
                                                                        <% } else { %>
                                                                        <option value="<%= i %>">
                                                                            <%- i %> секунд
                                                                        </option>
                                                                        <% } %>
                                                                    <% } %>
                                                                    <% } %>
                                                                </select>
                                                            </div>
                                                            <div class="spacer-10"></div>
                                                            <div class="col-sm-12">
                                                                <div class="advanced-textarea">

                                                                    <div class="text-muted">
                                                                        Сообщение для пользователя:
                                                                    </div>

                                                                    <div class="spacer-10"></div>

                                                                    <textarea class="form-control textarea" name="modules.blocking.data.legal.message"><%- modules.blocking.data.legal.message %></textarea>

                                                                </div>
                                                                <div class="helper-text-box">
                                                                    <p>
                                                                        Код <code>[timer]</code> отображает обратный отсчет.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="spacer-10"></div>
                                                            <div class="col-xs-6">
                                                                Разрешить плеер в странах:
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <input type="text" name="modules.blocking.data.legal.countries" value="<%= modules.blocking.data.legal.countries %>" class="form-control" placeholder="Россия,Украина,Беларусь,Казахстан">
                                                            </div>

                                                        </div>

                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% } else { %>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="attention-box attention-danger">
                                <h4>Модуль «<%- title %>» отключен</h4>
                                <div class="spacer-20"></div>
                                <p class="text-muted">
                                    Модуль «<%- title %>» позволяет ораничить просмотр фильмов или скачивания торрентов у пользователей до совершения определенного действия:
                                    <br>1) Просмотр Вашей рекламы в плеере;
                                    <br>2) Платная подписка;
                                    <br>3) Поделиться фильмом в соц. сети;
                                    <br>4) Отключение AdBlock на сайте;
                                    <br>5) Легальный киносайт, показывать только трейлеры.
                                    <br>Чтобы включить модуль, нажмите на кнопку «Активировать» вверху экрана.
                                </p>
                            </div>
                        </div>
                    </div>

                    <% } %>

                </div>
            </div>

            <% include ../includes/footer.ejs %>

        </div>
    </div>
</div>

</body>
</html>