<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                   <!--<![endif]-->
<head>

    <% include ../includes/head.ejs %>

</head>
<body>
<div id="container" class="clearfix">

    <% include ../includes/left.ejs %>

    <% include ../includes/right.ejs %>

    <div id="main" class="clearfix">

        <% include ../includes/header.ejs %>

        <div id="content" class="clearfix">

            <header id="header-sec">
                <div class="inner-padding">
                    <div class="pull-left">
                        <h2>
                            <%- title %>
                        </h2>
                    </div>
                    <div class="pull-right">
                        <% if (modules.player.status) { %>
                        <a href="javascript:void(0)" data-module="player" data-status="false" class="btn btn-danger module-status">
                            <i class="fa fa-power-off"></i>&nbsp;Отключить
                        </a>
                        <% } else { %>
                        <a href="javascript:void(0)" data-module="player" data-status="true" class="btn btn-success module-status">
                            <i class="fa fa-power-off"></i>&nbsp;Активировать
                        </a>
                        <% } %>
                    </div>
                </div>
            </header>

            <div class="window">
                <div class="actionbar">
                    <div class="pull-left">
                        <a href="#" class="btn" data-toggle-sidebar="left">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a href="/<%- config.urls.admin %>/player" class="btn">
                            Модуль плеера на сайте
                        </a>
                        <a href="https://CinemaPress.org/admin/player.html" class="btn" title="Информация о параметрах модуля плеер на сайте" target="_blank">
                            <i class="fa fa-info-circle text-muted"></i>
                        </a>
                    </div>
                    <div class="pull-right">
                        <p>
                            <% if (modules.player.status) { %>
                            <span class="label label-success">Включен</span>
                            <% } else { %>
                            <span class="label label-danger">Отключен</span>
                            <% } %>
                        </p>
                        <a href="#" class="btn" data-toggle-sidebar="right">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

                <div class="inner-padding">

                    <% if (modules.player.status) { %>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-film"></i>&nbsp;&nbsp;&nbsp;Yohoho.cc
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/player.html#yohoho" class="csstip" title="Параметры плеера Yohoho.cc" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <div class="inline-labels">
                                                <label>
                                                    <input name="modules.player.data.display" value="yohoho" <% if (modules.player.data.display == 'yohoho') { %> checked="" <% } %> type="radio"><span></span> сделать основным
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <input name="modules.player.data.yohoho.player" value="<%- modules.player.data.yohoho.player %>" class="form-control" type="text" placeholder="Видео-хостинги источники">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-film"></i>&nbsp;&nbsp;&nbsp;Kodik.cc
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/player.html#kodik" class="csstip" title="Параметры плеера Kodik.cc" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <div class="inline-labels">
                                                <label>
                                                    <input name="modules.player.data.display" value="kodik" <% if (modules.player.data.display == 'kodik') { %> checked="" <% } %> type="radio"><span></span> сделать основным
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <div class="inline-labels">
                                                <label>
                                                    <input name="modules.player.data.kodik.show" value="1" <% if (modules.player.data.kodik.show) { %> checked="" <% } %> type="radio"><span></span> Показывать
                                                </label>
                                                <label>
                                                    <input name="modules.player.data.kodik.show" value="0" <% if (!modules.player.data.kodik.show) { %> checked="" <% } %> type="radio"><span></span> Не показывать
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-film"></i>&nbsp;&nbsp;&nbsp;Moonwalk.cc
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/player.html#moonwalk" class="csstip" title="Указание токен-ключа плеера moonwalk.cc" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <div class="inline-labels">
                                                <label>
                                                    <input name="modules.player.data.display" value="moonwalk" <% if (modules.player.data.display == 'moonwalk') { %> checked="" <% } %> type="radio"><span></span> сделать основным
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <input name="modules.player.data.moonwalk.token" value="<%- modules.player.data.moonwalk.token %>" class="form-control" type="text" placeholder="Токен-ключ moonwalk.cc">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-film"></i>&nbsp;&nbsp;&nbsp;Hdgo.cc
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/player.html#hdgo" class="csstip" title="Указание токен-ключа плеера hdgo.cc" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <div class="inline-labels">
                                                <label>
                                                    <input name="modules.player.data.display" value="hdgo" <% if (modules.player.data.display == 'hdgo') { %> checked="" <% } %> type="radio"><span></span> сделать основным
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <input name="modules.player.data.hdgo.token" value="<%- modules.player.data.hdgo.token %>" class="form-control" type="text" placeholder="Токен-ключ hdgo.cc">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-film"></i>&nbsp;&nbsp;&nbsp;Iframe.video
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/player.html#iframe" class="csstip" title="Параметры плеера Iframe.video" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <div class="inline-labels">
                                                <label>
                                                    <input name="modules.player.data.display" value="iframe" <% if (modules.player.data.display == 'iframe') { %> checked="" <% } %> type="radio"><span></span> сделать основным
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <div class="inline-labels">
                                                <label>
                                                    <input name="modules.player.data.iframe.show" value="1" <% if (modules.player.data.iframe.show) { %> checked="" <% } %> type="radio"><span></span> Показывать
                                                </label>
                                                <label>
                                                    <input name="modules.player.data.iframe.show" value="0" <% if (!modules.player.data.iframe.show) { %> checked="" <% } %> type="radio"><span></span> Не показывать
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-film"></i>&nbsp;&nbsp;&nbsp;Moonlight.cx
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/player.html#moonlight" class="csstip" title="Указание папки домена, где находится скрипт Moonlight (например <%- config.domain %>/moonlight)"
                                                target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-12 col-xs-12 text-center">
                                            <input name="modules.player.data.moonlight.domain" value="<%- modules.player.data.moonlight.domain %>" class="form-control" type="text" placeholder="Ссылка на папку с Moonlight, <%- config.domain %>/moonlight">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% } else { %>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="attention-box attention-danger">
                                <h4>Модуль «<%- title %>» отключен</h4>
                                <div class="spacer-20"></div>
                                <p class="text-muted">
                                    Модуль «<%- title %>» позволяет добавить на сайт плеер для онлайн просмотра фильмов.
                                    <br>
                                    Чтобы включить модуль, нажмите на кнопку «Активировать» вверху экрана.
                                </p>
                            </div>
                        </div>
                    </div>

                    <% } %>

                </div>
            </div>

            <% include ../includes/footer.ejs %>

        </div>
    </div>
</div>

</body>
</html>