<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                   <!--<![endif]-->
<head>

    <% include ../includes/head.ejs %>

</head>
<body>
<div id="container" class="clearfix">

    <% include ../includes/left.ejs %>

    <% include ../includes/right.ejs %>

    <div id="main" class="clearfix">

        <% include ../includes/header.ejs %>

        <div id="content" class="clearfix">

            <header id="header-sec">
                <div class="inner-padding">
                    <div class="pull-left">
                        <h2>
                            <%- title %>
                        </h2>
                    </div>
                    <div class="pull-right">
                        <% if (modules.soon.status) { %>
                        <a href="javascript:void(0)" data-module="soon" data-status="false" class="btn btn-danger module-status">
                            <i class="fa fa-power-off"></i>&nbsp;Отключить
                        </a>
                        <% } else { %>
                        <a href="javascript:void(0)" data-module="soon" data-status="true" class="btn btn-success module-status">
                            <i class="fa fa-power-off"></i>&nbsp;Активировать
                        </a>
                        <% } %>
                    </div>
                </div>
            </header>

            <div class="window">
                <div class="actionbar">
                    <div class="pull-left">
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="left">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a href="/<%- config.urls.admin %>/soon" class="btn">
                            Модуль новых премьер
                        </a>
                        <a href="https://CinemaPress.org/admin/soon.html" class="btn" title="Информация о параметрах модуля с блоком фильмов ближайших премьер" target="_blank">
                            <i class="fa fa-info-circle text-muted"></i>
                        </a>
                    </div>
                    <div class="pull-right">
                        <p>
                            <% if (modules.soon.status) { %>
                            <span class="label label-success">Включен</span>
                            <% } else { %>
                            <span class="label label-danger">Отключен</span>
                            <% } %>
                        </p>
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="right">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

                <div class="inner-padding">

                    <% if (modules.soon.status) { %>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;Число фильмов в автоматическом блоке
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/soon.html#auto" class="csstip" title="Указание числа фильмов, которые будут в блоке" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-12 col-xs-12 text-center">
                                            <select name="modules.soon.data.count" class="form-control">
                                                <% for (var i = 1; i <= 20; i++) { %>
                                                <% if (modules.soon.data.count == i) { %>
                                                <option value="<%- i %>" selected="selected">
                                                    <%- i %> фильм(ов)
                                                </option>
                                                <% } else { %>
                                                <option value="<%- i %>">
                                                    <%- i %> фильм(ов)
                                                </option>
                                                <% } %>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">

                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-hand-spock-o"></i>&nbsp;&nbsp;&nbsp;Указать фильмы вручную
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/soon.html#hand" class="csstip" title="Вручную выбрать фильмы для этого блока" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-12 col-xs-12 text-center">
                                            <div class="input-group">
                                                <input class="form-control" type="text" placeholder="ID КиноПоиск фильма или ссылка на фильм" data-add-id="modules.soon.data.movies">
                                                <span class="input-group-btn">
                                                    <a href="javascript:void(0)" class="btn btn-default" data-add-name="modules.soon.data.movies">
                                                        <span class="fa fa-plus"></span> Добавить фильм
                                                    </a>
                                                </span>
                                            </div>

                                            <div class="spacer-10"></div>

                                            <div class="advanced-textarea">

                                                <div class="thumbs-list thumbs-small">
                                                    <ul data-add-name="modules.soon.data.movies">
                                                        <% if (modules.soon.data.movies) { %>
                                                        <% modules.soon.data.movies.forEach(function (id) { %>
                                                        <li data-delete-id="<%- id %>" data-delete-name="modules.soon.data.movies">
                                                            <img class="media-object" src="https://st.kp.yandex.net/images/sm_film/<%- id %>.jpg" alt="ID: <%- id %>" title="ID: <%- id %>">
                                                        </li>
                                                        <% }); %>
                                                        <% } %>
                                                    </ul>
                                                </div>

                                                <div style="display: none" id="soon_ids">

                                                    <div class="spacer-10"></div>

                                                    <div class="text-muted">
                                                        Фильмы:
                                                    </div>

                                                    <div class="spacer-10"></div>

                                                    <textarea class="form-control input_ids" name="modules.soon.data.movies" placeholder="ID КиноПоиск фильмов"><% if (modules.soon.data.movies) { %><%- modules.soon.data.movies.join(',') %><% } %></textarea>

                                                    <div class="spacer-10"></div>

                                                </div>

                                                <div class="advanced-textarea-footer">
                                                    <div class="pull-right">
                                                        <a href="javascript:void(0)" onclick="document.querySelector('#soon_ids').style.display = 'block'" class="btn btn-default">
                                                            Редактировать список ID
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% } else { %>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="attention-box attention-danger">
                                <h4>Модуль «<%- title %>» отключен</h4>
                                <div class="spacer-20"></div>
                                <p class="text-muted">
                                    Модуль «<%- title %>» позволяет добавить на сайт блок с фильмами которые должны выйти в ближайшее время.
                                    <br>
                                    Чтобы включить модуль, нажмите на кнопку «Активировать» вверху экрана.
                                </p>
                            </div>
                        </div>
                    </div>

                    <% } %>

                </div>
            </div>

            <% include ../includes/footer.ejs %>

        </div>
    </div>
</div>

</body>
</html>