<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                   <!--<![endif]-->
<head>

    <% include includes/head.ejs %>

</head>
<body>
<div id="container" class="clearfix">

    <% include includes/left.ejs %>

    <% include includes/right.ejs %>

    <div id="main" class="clearfix">

        <% include includes/header.ejs %>

        <div id="content" class="clearfix">

            <header id="header-sec">
                <div class="inner-padding">
                    <div class="pull-left">
                        <h2>
                            <%- title %>
                        </h2>
                    </div>
                </div>
            </header>

            <div class="window">
                <div class="actionbar">
                    <div class="pull-left">
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="left">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a href="/<%- config.urls.admin %>/admin" class="btn">
                            Панель администратора CinemaPress
                        </a>
                        <a href="https://CinemaPress.org/admin/admin.html" class="btn" title="Информация о параметрах админ-панели" target="_blank">
                            <i class="fa fa-info-circle text-muted"></i>
                        </a>
                    </div>
                    <div class="pull-right">
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="right">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

                <div class="inner-padding">

                    <% if (typeof counts == 'object') { %>

                    <div class="progress-project-header">
                        <h5>Опубликовано фильмов</h5><span><%- counts.percent %>%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="<%- counts.percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%- counts.percent %>%;">
                            <span class="sr-only"><%- counts.percent %>%</span>
                        </div>
                    </div>
                    <div class="progress-project-footer">
                        <% if (counts.days) { %>
                        <p>Автопубликация на <%- counts.days %> дня(-ей)</p>
                        <% } %>
                        <span><strong><%- counts.publish %></strong>/<%- counts.all %></span>
                    </div>

                    <% } %>

                    <div class="spacer-10"></div>

                    <% if (modules) { %>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label"><i class="fa fa-wrench"></i>&nbsp;&nbsp;&nbsp;Модули</div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/soon">
                                                <div class="button-settings">
                                                    <i class="fa fa-calendar"></i>
                                                    <span class="corner-label <% if (modules.soon.status) { %> green <%  } else { %> red <% } %>">
                                                        <i class="fa fa-power-off"></i>
                                                    </span>
                                                    <p>
                                                        Скоро
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/comments">
                                                <div class="button-settings">
                                                    <i class="fa fa-comments"></i>
                                                    <span class="corner-label <% if (modules.comments.status) { %> green <%  } else { %> red <% } %>">
                                                        <i class="fa fa-power-off"></i>
                                                    </span>
                                                    <p>
                                                        Комментарии
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/related">
                                                <div class="button-settings">
                                                    <i class="fa fa-list-alt"></i>
                                                    <span class="corner-label <% if (modules.related.status) { %> green <%  } else { %> red <% } %>">
                                                        <i class="fa fa-power-off"></i>
                                                    </span>
                                                    <p>
                                                        Связанные
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/content">
                                                <div class="button-settings">
                                                    <i class="fa fa-file-text-o"></i>
                                                    <span class="corner-label <% if (modules.content.status) { %> green <%  } else { %> red <% } %>">
                                                        <i class="fa fa-power-off"></i>
                                                    </span>
                                                    <p>
                                                        Контент
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/slider">
                                                <div class="button-settings">
                                                    <i class="fa fa-picture-o"></i>
                                                    <span class="corner-label <% if (modules.slider.status) { %> green <%  } else { %> red <% } %>">
                                                        <i class="fa fa-power-off"></i>
                                                    </span>
                                                    <p>
                                                        Слайдер
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/abuse">
                                                <div class="button-settings">
                                                    <i class="fa fa-copyright"></i>
                                                    <span class="corner-label <% if (modules.abuse.status) { %> green <%  } else { %> red <% } %>">
                                                        <i class="fa fa-power-off"></i>
                                                    </span>
                                                    <p>
                                                        Скрыть
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/top">
                                                <div class="button-settings">
                                                    <i class="fa fa-signal"></i>
                                                    <span class="corner-label <% if (modules.top.status) { %> green <%  } else { %> red <% } %>">
                                                        <i class="fa fa-power-off"></i>
                                                    </span>
                                                    <p>
                                                        Топ
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/social">
                                                <div class="button-settings">
                                                    <i class="fa fa-vk"></i>
                                                    <span class="corner-label <% if (modules.social.status) { %> green <%  } else { %> red <% } %>">
                                                        <i class="fa fa-power-off"></i>
                                                    </span>
                                                    <p>
                                                        Соц.&nbsp;сети
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/schema">
                                                <div class="button-settings">
                                                    <i class="fa fa-key"></i>
                                                    <span class="corner-label <% if (modules.schema.status) { %> green <%  } else { %> red <% } %>">
                                                        <i class="fa fa-power-off"></i>
                                                    </span>
                                                    <p>
                                                        Разметка
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/continue">
                                                <div class="button-settings">
                                                    <i class="fa fa-play"></i>
                                                    <span class="corner-label <% if (modules.continue.status) { %> green <%  } else { %> red <% } %>">
                                                        <i class="fa fa-power-off"></i>
                                                    </span>
                                                    <p>
                                                        Продолжить
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/viewed">
                                                <div class="button-settings">
                                                    <i class="fa fa-eye"></i>
                                                    <span class="corner-label <% if (modules.viewed.status) { %> green <%  } else { %> red <% } %>">
                                                        <i class="fa fa-power-off"></i>
                                                    </span>
                                                    <p>
                                                        Просмотр.
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/player">
                                                <div class="button-settings">
                                                    <i class="fa fa-desktop"></i>
                                                    <span class="corner-label <% if (modules.player.status) { %> green <%  } else { %> red <% } %>">
                                                        <i class="fa fa-power-off"></i>
                                                    </span>
                                                    <p>
                                                        Плеер
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/blocking">
                                                <div class="button-settings">
                                                    <i class="fa fa-lock"></i>
                                                    <span class="corner-label <% if (modules.blocking.status) { %> green <%  } else { %> red <% } %>">
                                                        <i class="fa fa-power-off"></i>
                                                    </span>
                                                    <p>
                                                        Блокировка
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/mobile">
                                                <div class="button-settings">
                                                    <i class="fa fa-tablet"></i>
                                                    <span class="corner-label <% if (modules.mobile.status) { %> green <%  } else { %> red <% } %>">
                                                        <i class="fa fa-power-off"></i>
                                                    </span>
                                                    <p>
                                                        Моб.&nbsp;версия
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/episode">
                                                <div class="button-settings">
                                                    <i class="fa fa-list-ul"></i>
                                                    <span class="corner-label <% if (modules.episode.status) { %> green <%  } else { %> red <% } %>">
                                                        <i class="fa fa-power-off"></i>
                                                    </span>
                                                    <p>
                                                        Серии
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/adv">
                                                <div class="button-settings">
                                                    <i class="fa fa-money"></i>
                                                    <span class="corner-label <% if (modules.adv.status) { %> green <%  } else { %> red <% } %>">
                                                        <i class="fa fa-power-off"></i>
                                                    </span>
                                                    <p>
                                                        Реклама
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/rss">
                                                <div class="button-settings">
                                                    <i class="fa fa-rss"></i>
                                                    <span class="corner-label <% if (modules.rss.status) { %> green <%  } else { %> red <% } %>">
                                                        <i class="fa fa-power-off"></i>
                                                    </span>
                                                    <p>
                                                        RSS
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="https://cinemapress.org/admin/planned.html#unique" target="_blank">
                                                <div class="button-settings">
                                                    <i class="fa fa-pencil"></i>
                                                    <span class="corner-label <% if (modules.unique.status) { %> orange <%  } else { %> orange <% } %>">
                                                        <i class="fa fa-spinner"></i>
                                                    </span>
                                                    <p>
                                                        Уник.&nbsp;описания
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="https://cinemapress.org/admin/planned.html#voting" target="_blank">
                                                <div class="button-settings">
                                                    <i class="fa fa-thumbs-up"></i>
                                                    <span class="corner-label <% if (modules.voting.status) { %> orange <%  } else { %> orange <% } %>">
                                                        <i class="fa fa-spinner"></i>
                                                    </span>
                                                    <p>
                                                        Голосование
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="https://cinemapress.org/admin/planned.html#bots" target="_blank">
                                                <div class="button-settings">
                                                    <i class="fa fa-telegram"></i>
                                                    <span class="corner-label <% if (modules.bots.status) { %> orange <%  } else { %> orange <% } %>">
                                                        <i class="fa fa-spinner"></i>
                                                    </span>
                                                    <p>
                                                        Боты
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% } %>

                    <div class="spacer-10"></div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label"><i class="fa fa-cogs"></i>&nbsp;&nbsp;&nbsp;Параметры</div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/admin">
                                                <div class="button-settings">
                                                    <i class="fa fa-home"></i>
                                                    <p>
                                                        Админ
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/main">
                                                <div class="button-settings">
                                                    <i class="fa fa-cog"></i>
                                                    <p>
                                                        Настройки
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/publish">
                                                <div class="button-settings">
                                                    <i class="fa fa-clock-o"></i>
                                                    <p>
                                                        Публикация
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/index">
                                                <div class="button-settings">
                                                    <i class="fa fa-bars"></i>
                                                    <p>
                                                        Главная
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/urls">
                                                <div class="button-settings">
                                                    <i class="fa fa-sitemap"></i>
                                                    <p>
                                                        URL
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/display">
                                                <div class="button-settings">
                                                    <i class="fa fa-list"></i>
                                                    <p>
                                                        Отображение
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/movies">
                                                <div class="button-settings">
                                                    <i class="fa fa-film"></i>
                                                    <p>
                                                        Фильмы
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/titles">
                                                <div class="button-settings">
                                                    <i class="fa fa-pencil-square"></i>
                                                    <p>
                                                        Названия
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/descriptions">
                                                <div class="button-settings">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                    <p>
                                                        Описания
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/codes">
                                                <div class="button-settings">
                                                    <i class="fa fa-code"></i>
                                                    <p>
                                                        Коды
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/load">
                                                <div class="button-settings">
                                                    <i class="fa fa-bar-chart-o"></i>
                                                    <p>
                                                        Нагрузка
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <a href="/<%- config.urls.admin %>/cache">
                                                <div class="button-settings">
                                                    <i class="fa fa-rocket"></i>
                                                    <p>
                                                        Кэш
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <% include includes/footer.ejs %>

        </div>
    </div>
</div>

</body>
</html>