<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                   <!--<![endif]-->
<head>

    <% include includes/head.ejs %>

</head>
<body>
<div id="container" class="clearfix">

    <% include includes/left.ejs %>

    <% include includes/right.ejs %>

    <div id="main" class="clearfix">

        <% include includes/header.ejs %>

        <div id="content" class="clearfix">

            <header id="header-sec">
                <div class="inner-padding">
                    <div class="pull-left">
                        <h2>
                            <%- title %>
                        </h2>
                    </div>
                </div>
            </header>

            <div class="window">
                <div class="actionbar">
                    <div class="pull-left">
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="left">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a href="/<%- config.urls.admin %>/display" class="btn">
                            Параметры вывода фильмов в категориях
                        </a>
                        <a href="https://CinemaPress.org/admin/display.html" class="btn" title="Информация о параметрах вывода фильмов в категориях" target="_blank">
                            <i class="fa fa-info-circle text-muted"></i>
                        </a>
                    </div>
                    <div class="pull-right">
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="right">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

                <div class="inner-padding">

                    <% if (config.sorting) { %>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;&nbsp;Параметры отображения в категориях
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/display.html#default" class="csstip" title="Параметры отображения списка фильмов в категориях (жанры, страны, и т.д.)" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div>
                                                <a href="javascript:void(0)" class="csstip text-muted" title="Укажите какое число фильмов будет отображаться в каждой категории и результатах поиска">
                                                    <i class="fa fa-info-circle text-muted"></i>
                                                    Фильмов на странице:
                                                </a>
                                            </div>
                                            <select name="config.default.count" class="form-control">
                                                <% for (var i = 1; i <= 30; i++) { %>
                                                <% if (config.default.count == i) { %>
                                                <option value="<%= i %>" selected="selected">
                                                    <%- i %> фильма(-ов)
                                                </option>
                                                <% } else { %>
                                                <option value="<%= i %>">
                                                    <%- i %> фильма(-ов)
                                                </option>
                                                <% } %>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <div>
                                                <a href="javascript:void(0)" class="csstip text-muted" title="Укажите сортировку по которой будут сортироваться фильмы в категориях">
                                                    <i class="fa fa-info-circle text-muted"></i>
                                                    Сортировка фильмов:
                                                </a>
                                            </div>
                                            <select name="config.default.sorting" class="form-control">
                                                <% for (name in config.sorting) { %>
                                                <% if (config.default.sorting == name) { %>
                                                <option value="<%= name %>" selected="selected">
                                                    <%- config.sorting[name] %>
                                                </option>
                                                <% } else { %>
                                                <option value="<%= name %>">
                                                    <%- config.sorting[name] %>
                                                </option>
                                                <% } %>
                                                <% } %>
                                            </select>
                                        </div>

                                        <div class="spacer-10"></div>

                                        <div class="col-sm-6">
                                            <div>
                                                <a href="javascript:void(0)" class="csstip text-muted" title="Укажите какое число страниц отображать внизу каждой категории и главной сайта">
                                                    <i class="fa fa-info-circle text-muted"></i>
                                                    Число номеров страниц:
                                                </a>
                                            </div>
                                            <select name="config.default.pages" class="form-control">
                                                <% for (var i = 1; i <= 10; i++) { if (i%2) continue; %>
                                                <% if (config.default.pages == i) { %>
                                                <option value="<%= i %>" selected="selected">
                                                    <%- i %> номер(-ов)
                                                </option>
                                                <% } else { %>
                                                <option value="<%= i %>">
                                                    <%- i %> номер(-ов)
                                                </option>
                                                <% } %>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <div>
                                                <a href="javascript:void(0)" class="csstip text-muted" title="Показывать кнопку последней страницы на главной и в категориях (ВЫСОКАЯ НАГРУЗКА НА СЕРВЕР).">
                                                    <i class="fa fa-info-circle text-muted"></i>
                                                    Последняя страница:
                                                </a>
                                            </div>
                                            <select name="config.default.lastpage" class="form-control">
                                                <% if (config.default.lastpage) { %>
                                                <option value="1" selected="selected">
                                                    Показывать
                                                </option>
                                                <option value="0">
                                                    Не показывать
                                                </option>
                                                <% } else { %>
                                                <option value="1">
                                                    Показывать
                                                </option>
                                                <option value="0" selected="selected">
                                                    Не показывать
                                                </option>
                                                <% } %>
                                            </select>
                                        </div>

                                        <div class="spacer-10"></div>

                                        <div class="col-sm-12">
                                            <div>
                                                <a href="javascript:void(0)" class="csstip text-muted" title="Укажите
                                                 изображение, которое будет отображаться, когда люди будут делиться
                                                 сайтом в соц. сетях">
                                                    <i class="fa fa-info-circle text-muted"></i>
                                                    Изображение по умолчанию:
                                                </a>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-9 col-xs-9 text-center" id="blockPathImage">
                                                    <input type="text" class="form-control" name="config.default.image" id="textPathImage" value="<% if (config.default.image) { %><%= config.default.image %><% } %>" placeholder="URL изображения"
                                                           style="font-weight: normal; font-size: 14px;">
                                                </div>
                                                <div class="col-lg-3 col-xs-3 text-center" id="blockUploadImage">
                                                    <div class="btn-group" style="float: right; margin: 0;">
                                                        <form id="formUploadImage" enctype="multipart/form-data">
                                                            <input name="content" id="nameUploadImage" type="file" class="form-control" style="float: left; width: 68px; padding: 0; background: none; border: 0; margin: 4px 0 0 0; height: 100%;">
                                                            <input class="btn btn-default" id="submitUploadImage" type="submit" value="Загрузить" style="margin: auto 0 auto 5px; display: none">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="spacer-10"></div>

                                        <div class="col-sm-6">
                                            <div>
                                                <a href="javascript:void(0)" class="csstip text-muted" title="Минимальное число голосов КиноПоиск у фильмов, которые будут показаны при сортировке по рейтингу КиноПоиск">
                                                    <i class="fa fa-info-circle text-muted"></i>
                                                    Число голосов КиноПоиск:
                                                </a>
                                            </div>
                                            <select name="config.default.votes.imdb" class="form-control">
                                                <% for (var i = 100; i <= 10000; i = i+100) { %>
                                                <% if (config.default.votes.imdb == i) { %>
                                                <option value="<%= i %>" selected="selected">
                                                    <%- i %> голос(-ов)
                                                </option>
                                                <% } else { %>
                                                <option value="<%= i %>">
                                                    <%- i %> голос(-ов)
                                                </option>
                                                <% } %>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <div>
                                                <a href="javascript:void(0)" class="csstip text-muted" title="Минимальное число голосов IMDb у фильмов, которые будут показаны при сортировке по рейтингу IMDb">
                                                    <i class="fa fa-info-circle text-muted"></i>
                                                    Число голосов IMDb:
                                                </a>
                                            </div>
                                            <select name="config.default.votes.kp" class="form-control">
                                                <% for (var i = 100; i <= 10000; i = i+100) { %>
                                                <% if (config.default.votes.kp == i) { %>
                                                <option value="<%= i %>" selected="selected">
                                                    <%- i %> голос(-ов)
                                                </option>
                                                <% } else { %>
                                                <option value="<%= i %>">
                                                    <%- i %> голос(-ов)
                                                </option>
                                                <% } %>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-sort"></i>&nbsp;&nbsp;&nbsp;Названия сортировок
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/display.html#sorting" class="csstip" title="Названия сортировок на странице категорий" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label>Рейтинг КП (по убыванию):</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" name="config.sorting.kinopoisk-rating-up" value="<%= config.sorting['kinopoisk-rating-up'] %>" class="form-control">
                                        </div>

                                        <div class="spacer-10"></div>

                                        <div class="col-sm-5">
                                            <label>Рейтинг КП (по возрастанию):</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" name="config.sorting.kinopoisk-rating-down" value="<%= config.sorting['kinopoisk-rating-down'] %>" class="form-control">
                                        </div>

                                        <div class="spacer-10"></div>

                                        <div class="col-sm-5">
                                            <label>Голоса КП (по убыванию):</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" name="config.sorting.kinopoisk-vote-up" value="<%= config.sorting['kinopoisk-vote-up'] %>" class="form-control">
                                        </div>

                                        <div class="spacer-10"></div>

                                        <div class="col-sm-5">
                                            <label>Голоса КП (по возрастанию):</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" name="config.sorting.kinopoisk-vote-down" value="<%= config.sorting['kinopoisk-vote-down'] %>" class="form-control">
                                        </div>

                                        <div class="spacer-10"></div>

                                        <div class="col-sm-5">
                                            <label>Рейтинг IMDb (по убыванию):</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" name="config.sorting.imdb-rating-up" value="<%= config.sorting['imdb-rating-up'] %>" class="form-control">
                                        </div>

                                        <div class="spacer-10"></div>

                                        <div class="col-sm-5">
                                            <label>Рейтинг IMDb (по возрастанию):</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" name="config.sorting.imdb-rating-down" value="<%= config.sorting['imdb-rating-down'] %>" class="form-control">
                                        </div>

                                        <div class="spacer-10"></div>

                                        <div class="col-sm-5">
                                            <label>Голоса IMDb (по убыванию):</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" name="config.sorting.imdb-vote-up" value="<%= config.sorting['imdb-vote-up'] %>" class="form-control">
                                        </div>

                                        <div class="spacer-10"></div>

                                        <div class="col-sm-5">
                                            <label>Голоса IMDb (по возрастанию):</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" name="config.sorting.imdb-vote-down" value="<%= config.sorting['imdb-vote-down'] %>" class="form-control">
                                        </div>

                                        <div class="spacer-10"></div>

                                        <div class="col-sm-5">
                                            <label>Год (по убыванию):</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" name="config.sorting.year-up" value="<%= config.sorting['year-up'] %>" class="form-control">
                                        </div>
                                        <div class="spacer-10"></div>
                                        <div class="col-sm-5">
                                            <label>Год (по возрастанию):</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" name="config.sorting.year-down" value="<%= config.sorting['year-down'] %>" class="form-control">
                                        </div>

                                        <div class="spacer-10"></div>

                                        <div class="col-sm-5">
                                            <label>Премьера (по убыванию):</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" name="config.sorting.premiere-up" value="<%= config.sorting['premiere-up'] %>" class="form-control">
                                        </div>

                                        <div class="spacer-10"></div>

                                        <div class="col-sm-5">
                                            <label>Премьера (по возрастанию):</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" name="config.sorting.premiere-down" value="<%= config.sorting['premiere-down'] %>" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% } %>

                </div>
            </div>

            <% include includes/footer.ejs %>

        </div>
    </div>
</div>

</body>
</html>