<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                   <!--<![endif]-->
<head>

    <% include includes/head.ejs %>

</head>
<body>
<div id="container" class="clearfix">

    <% include includes/left.ejs %>

    <% include includes/right.ejs %>

    <div id="main" class="clearfix">

        <% include includes/header.ejs %>

        <div id="content" class="clearfix">

            <header id="header-sec">
                <div class="inner-padding">
                    <div class="pull-left">
                        <h2>
                            <%- title %>
                        </h2>
                    </div>
                </div>
            </header>

            <div class="window">
                <div class="actionbar">
                    <div class="pull-left">
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="left">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a href="/<%- config.urls.admin %>/main" class="btn">
                            Основные настройки сайта
                        </a>
                        <a href="https://CinemaPress.org/admin/main.html" class="btn" title="Информация о параметрах настройки сайта" target="_blank">
                            <i class="fa fa-info-circle text-muted"></i>
                        </a>
                    </div>
                    <div class="pull-right">
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="right">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

                <div class="inner-padding">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-expeditedssl"></i>&nbsp;&nbsp;&nbsp;Протокол
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/main.html#protocol" class="csstip" title="Основной протокол сайта" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-12 col-xs-12 text-center">
                                            <div class="inline-labels">
                                                <label>
                                                    <input name="config.protocol" value="http://" <% if (config.protocol == 'http://') { %> checked="" <% } %> type="radio"><span></span> Стандартный HTTP
                                                </label>
                                                <label>
                                                    <input name="config.protocol" value="https://" <% if (config.protocol == 'https://') { %> checked="" <% } %> type="radio"><span></span> Защищенный HTTPS
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-link"></i>&nbsp;&nbsp;&nbsp;Домен
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/main.html#domain" class="csstip" title="Информационный параметр домена, за которым закрепляется ключ БД" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-xs-6 text-center">
                                            <input name="config.domain" value="<%= config.domain %>" class="form-control input_url" type="text" disabled="disabled" style="background-color: #272F38;">
                                        </div>
                                        <div class="col-xs-6 text-center" style="padding: 5px;">
                                            <%- config.database.key %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;Почта
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/main.html#email" class="csstip" title="Ваша почта для связи с администратором сайта" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-12 col-xs-12 text-center">
                                            <input name="config.email" value="<%= config.email %>" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-picture-o"></i>&nbsp;&nbsp;&nbsp;Язык и страна сайта
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/main.html#language" class="csstip" title="Указание языка и страны, для аудитории которой работает сайт." target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-xs-6 text-center">
                                            <select name="config.language" class="form-control">
                                                <% var languages = [{"iso": "ru", "name": "Русский"}]; %>
                                                <% languages.forEach(function(language) { %>
                                                <% if (config.language === language.iso) { %>
                                                <option value="<%= language.iso %>" selected="selected">
                                                    <%- language.name %>
                                                </option>
                                                <% } else { %>
                                                <option value="<%= language.iso %>">
                                                    <%- language.name %>
                                                </option>
                                                <% } %>
                                                <% }); %>
                                            </select>
                                        </div>
                                        <div class="col-xs-6 text-center">
                                            <select name="config.country" class="form-control">
                                                <% var countries = [{"iso": "RU", "name": "Россия"}]; %>
                                                <% countries.forEach(function(country) { %>
                                                <% if (config.country === country.iso) { %>
                                                <option value="<%= country.iso %>" selected="selected">
                                                    <%- country.name %>
                                                </option>
                                                <% } else { %>
                                                <option value="<%= country.iso %>">
                                                    <%- country.name %>
                                                </option>
                                                <% } %>
                                                <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="example-box">
                                <div class="example-box-header">
                                    <div class="example-label">
                                        <i class="fa fa-picture-o"></i>&nbsp;&nbsp;&nbsp;Шаблон сайта
                                    </div>
                                    <div class="example-label" style="float: right">
                                        <a href="https://CinemaPress.org/admin/main.html#theme" class="csstip" title="Название шаблона сайта, папка которого должна быть в /themes/" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-xs-5 text-center">
                                            <select name="config.theme" class="form-control">
                                                <% themes.forEach(function(theme) { %>
                                                    <% if (config.theme === theme) { %>
                                                    <option value="<%= theme %>" selected="selected">
                                                        <%- theme %>
                                                    </option>
                                                    <% } else { %>
                                                    <option value="<%= theme %>">
                                                        <%- theme %>
                                                    </option>
                                                    <% } %>
                                                <% }); %>
                                            </select>
                                        </div>
                                        <div class="col-xs-5 text-center">
                                            <a href="https://cinemapress.org/buy/theme.html" target="_blank" class="btn btn-block btn-default">
                                                <span class="fa fa-money"></span>&nbsp;&nbsp;49$ Своя тема
                                            </a>
                                        </div>
                                        <div class="col-xs-2 text-center">
                                            <a href="https://cinemapress.org/article/chto-takoe-individualnaya-tema.html" target="_blank" class="btn btn-block btn-default">
                                                <span class="fa fa-question-circle"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <% include includes/footer.ejs %>

        </div>
    </div>
</div>

</body>
</html>