<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                   <!--<![endif]-->
<head>

    <% include includes/head.ejs %>

</head>
<body>
<div id="container" class="clearfix">

    <% include includes/left.ejs %>

    <% include includes/right.ejs %>

    <div id="main" class="clearfix">

        <% include includes/header.ejs %>

        <div id="content" class="clearfix">

            <header id="header-sec">
                <div class="inner-padding">
                    <div class="pull-left">
                        <h2>
                            <%- title %>
                        </h2>
                    </div>
                </div>
            </header>

            <div class="window">
                <div class="actionbar">
                    <div class="pull-left">
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="left">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a href="/<%- config.urls.admin %>/movies" class="btn">
                            Список фильмов с уникальным описанием
                        </a>
                        <a href="https://CinemaPress.org/admin/movies.html" class="btn" title="Информация о написании уникальных описаний для фильмов" target="_blank">
                            <i class="fa fa-info-circle text-muted"></i>
                        </a>
                    </div>
                    <div class="pull-right">
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="right">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

                <div class="inner-padding">

                    <% if (movie) { %>

                    <input name="movie.id" value="<% if (movie.id) { %><%- movie.id %><% } %>" type="hidden">

                    <div class="row">
                        <div class="col-sm-3">
                            <label>ID КиноПоиск <% if (movie.kp_id) { %><a href="https://href.li/?https://www.kinopoisk.ru/film/<%- movie.kp_id %>/" class="visible-xs-inline" style="text-decoration:none;" target="_blank"><span class="fa fa-external-link-square"></span></a><% } %></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input_number" name="movie.kp_id" value="<% if (movie.kp_id) { %><%- movie.kp_id %><% } %>" placeholder="Укажите ID фильма">
                        </div>
                        <div class="col-sm-5 text-right">
                            <label><% if (movie.kp_id && movie.kp_id < 2000000) { var kp_id = parseInt(movie.kp_id) - parseInt(config.urls.unique_id); %><%- config.domain + '/' + config.urls.movie + '/' + config.urls.prefix_id + '' + kp_id %> <a href="<%- config.protocol + config.domain + '/' + config.urls.movie + '/' + config.urls.prefix_id + '' + kp_id %>" class="visible-xs-inline" style="text-decoration:none;" target="_blank"><span class="fa fa-external-link-square"></span></a><% } %></label>
                        </div>
                    </div>

                    <div class="spacer-10"></div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="advanced-textarea">

                                <div style="color: #4B5B6C">
                                    &lt;title&gt; страницы с фильмом:
                                </div>
                                <div class="spacer-10"></div>
                                <input type="text" class="form-control" name="movie.title_page" value="<% if (movie.title_page) { %><%= movie.title_page %><% } %>" placeholder="Название страницы фильма (до 70 символов)" style="font-weight: normal; font-size: 14px;">

                                <div style="color: #4B5B6C">
                                    &lt;meta name="description"&gt; страницы:
                                </div>
                                <div class="spacer-10"></div>
                                <input type="text" class="form-control" name="movie.description_short" value="<% if (movie.description_short) { %><%= movie.description_short %><% } %>" placeholder="Короткое описание фильма (до 200 символов)" style="font-weight: normal; font-size: 14px;">

                                <div style="color: #4B5B6C">
                                    Русское название:
                                </div>
                                <div class="spacer-10"></div>
                                <input type="text" class="form-control" name="movie.title_ru" value="<% if (movie.title_ru) { %><%= movie.title_ru %><% } %>" placeholder="Название на русском языке" style="font-weight: normal; font-size: 14px;">

                                <div style="color: #4B5B6C">
                                    Оригинальное название:
                                </div>
                                <div class="spacer-10"></div>
                                <input type="text" class="form-control" name="movie.title_en" value="<% if (movie.title_en) { %><%= movie.title_en %><% } %>" placeholder="Название на оригинальном языке" style="font-weight: normal; font-size: 14px;">

                                <div style="color: #4B5B6C">
                                    Описание фильма:
                                </div>
                                <div class="spacer-10"></div>
                                <textarea class="form-control descriptions" name="movie.description" placeholder="Уникальное описание фильма"><% if (movie.description) { %><%- movie.description.trim().replace(/<br>/ig, '\n') %><% } %></textarea>
                                <div class="advanced-textarea-footer">
                                    <div class="pull-left">
                                        <div class="text text-muted" style="float: none;"><span id="movie.description">0</span> символа(-ов)</div>
                                        <% if (movie.title_ru) { %>
                                        <a href="javascript:void(0)" data-name="movie.description" data-code="<%- movie.title_ru %>" class="btn btn-default codes">
                                            <%- movie.title_ru %>
                                        </a>
                                        <% } %>
                                        <% if (movie.title_en) { %>
                                        <a href="javascript:void(0)" data-name="movie.description" data-code="<%- movie.title_en %>" class="btn btn-default codes">
                                            <%- movie.title_en %>
                                        </a>
                                        <% } %>
                                        <% if (movie.year) { %>
                                        <a href="javascript:void(0)" data-name="movie.description" data-code="<%- movie.year %>" class="btn btn-default codes">
                                            <%- movie.year %>
                                        </a>
                                        <% } %>
                                        <% if (movie.country && movie.country !== '_empty') { %>
                                        <% movie.country.split(',').forEach(function (value) { value = value.trim(); %>
                                        <a href="javascript:void(0)" data-name="movie.description" data-code="<%- value %>" class="btn btn-default codes">
                                            <%- value %>
                                        </a>
                                        <% }); %>
                                        <% } %>
                                        <% if (movie.genre && movie.genre !== '_empty') { %>
                                        <% movie.genre.split(',').forEach(function (value) { value = value.trim(); %>
                                        <a href="javascript:void(0)" data-name="movie.description" data-code="<%- value %>" class="btn btn-default codes">
                                            <%- value %>
                                        </a>
                                        <% }); %>
                                        <% } %>
                                        <% if (movie.actor && movie.actor !== '_empty') { %>
                                        <% movie.actor.split(',').forEach(function (value) { value = value.trim(); %>
                                        <a href="javascript:void(0)" data-name="movie.description" data-code="<%- value %>" class="btn btn-default codes">
                                            <%- value %>
                                        </a>
                                        <% }); %>
                                        <% } %>
                                        <% if (movie.director && movie.director !== '_empty') { %>
                                        <% movie.director.split(',').forEach(function (value) { value = value.trim(); %>
                                        <a href="javascript:void(0)" data-name="movie.description" data-code="<%- value %>" class="btn btn-default codes">
                                            <%- value %>
                                        </a>
                                        <% }); %>
                                        <% } %>
                                    </div>
                                </div>

                            </div>

                            <div class="spacer-10"></div>

                            <div class="faq">

                                <article class="faq-group">
                                    <header>
                                        <i class="fa fa-minus"></i>
                                        <h3>Информационные данные фильма</h3>
                                    </header>
                                    <div class="faq-content clearfix">
                                        <div class="advanced-textarea">

                                            <div style="color: #4B5B6C">
                                                URL постера:
                                            </div>
                                            <div class="spacer-10"></div>
                                            <div class="row">
                                                <div class="col-lg-9 col-xs-9 text-center" id="blockPathImage">
                                                    <input type="text" class="form-control" name="movie.poster" id="textPathImage" value="<% if (movie.poster) { %><%= movie.poster %><% } else { %>1<% } %>" placeholder="URL постера фильма" style="font-weight: normal; font-size: 14px;">
                                                </div>
                                                <div class="col-lg-3 col-xs-3 text-center" id="blockUploadImage">
                                                    <div class="btn-group" style="float: right; margin: 0;">
                                                        <form id="formUploadImage" enctype="multipart/form-data">
                                                            <input name="poster" id="nameUploadImage" type="file" class="form-control" style="float: left; width: 68px; padding: 0; background: none; border: 0; margin: 4px 0 0 0; height: 100%;">
                                                            <input class="btn btn-default" id="submitUploadImage" type="submit" value="Загрузить" style="margin: auto 0 auto 5px; display: none">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <div style="color: #4B5B6C">
                                                Тип:
                                            </div>
                                            <div class="spacer-10"></div>
                                            <select name="movie.type" class="form-control">
                                                <option value="0" <% if (movie.type === 0) { %>selected="selected"<% } %>>
                                                    Фильм
                                                </option>
                                                <option value="1" <% if (movie.type === 1) { %>selected="selected"<% } %>>
                                                    Сериал
                                                </option>
                                                <option value="2" <% if (movie.type === 2) { %>selected="selected"<% } %>>
                                                    Видео
                                                </option>
                                                <option value="3" <% if (movie.type === 3) { %>selected="selected"<% } %>>
                                                    ТВ
                                                </option>
                                            </select>
                                            <div class="spacer-10"></div>

                                            <div style="color: #4B5B6C">
                                                Год:
                                            </div>
                                            <div class="spacer-10"></div>
                                            <input type="text" class="form-control" name="movie.year" value="<% if (movie.year) { %><%= movie.year %><% } else { %><%- new Date().toJSON().substr(0, 4) %><% } %>" placeholder="Год" style="font-weight: normal; font-size: 14px;">

                                            <div style="color: #4B5B6C">
                                                Страна:
                                            </div>
                                            <div class="spacer-10"></div>
                                            <input type="text" class="form-control" name="movie.country" value="<% if (movie.country && movie.country !== '_empty') { %><%- movie.country %><% } %>" placeholder="Список стран через запятую" style="font-weight: normal; font-size: 14px;">

                                            <div style="color: #4B5B6C">
                                                Жанры:
                                            </div>
                                            <div class="spacer-10"></div>
                                            <input type="text" class="form-control" name="movie.genre" value="<% if (movie.genre && movie.genre !== '_empty') { %><%- movie.genre %><% } %>" placeholder="Список жанров через запятую" style="font-weight: normal; font-size: 14px;">

                                            <div style="color: #4B5B6C">
                                                Режиссер:
                                            </div>
                                            <div class="spacer-10"></div>
                                            <input type="text" class="form-control" name="movie.director" value="<% if (movie.director && movie.director !== '_empty') { %><%- movie.director %><% } %>" placeholder="Список режиссеров через запятую" style="font-weight: normal; font-size: 14px;">

                                            <div style="color: #4B5B6C">
                                                Актеры:
                                            </div>
                                            <div class="spacer-10"></div>
                                            <input type="text" class="form-control" name="movie.actor" value="<% if (movie.actor && movie.actor !== '_empty') { %><%- movie.actor %><% } %>" placeholder="Список актеров через запятую" style="font-weight: normal; font-size: 14px;">

                                            <div style="color: #4B5B6C">
                                                Премьера:
                                            </div>
                                            <div class="spacer-10"></div>
                                            <input type="text" class="form-control" name="movie.premiere" value="<% if (movie.premiere) { %><%- new Date(((movie.premiere - 719527) * 1000 * 60 * 60 * 24)).toJSON().substr(0, 10) %><% } else if (movie.year) { %><%- movie.year %>-01-01<% } else { %><%- new Date().toJSON().substr(0, 10) %><% } %>" placeholder="Дата премьеры фильма" style="font-weight: normal; font-size: 14px;">

                                            <div style="color: #4B5B6C">
                                                Рейтинг КиноПоиск:
                                            </div>
                                            <div class="spacer-10"></div>
                                            <input type="text" class="form-control" name="movie.kp_rating" value="<% if (movie.kp_rating) {  %><%- movie.kp_rating %><% } else { %>0<% } %>" placeholder="Рейтинг КиноПоиск" style="font-weight: normal; font-size: 14px;">

                                            <div style="color: #4B5B6C">
                                                Число голосов КиноПоиск:
                                            </div>
                                            <div class="spacer-10"></div>
                                            <input type="text" class="form-control" name="movie.kp_vote" value="<% if (movie.kp_vote) {  %><%- movie.kp_vote %><% } else { %>0<% } %>" placeholder="Число голосов КиноПоиск" style="font-weight: normal; font-size: 14px;">

                                            <div style="color: #4B5B6C">
                                                Рейтинг IMDb:
                                            </div>
                                            <div class="spacer-10"></div>
                                            <input type="text" class="form-control" name="movie.imdb_rating" value="<% if (movie.imdb_rating) {  %><%- movie.imdb_rating %><% } else { %>0<% } %>" placeholder="Рейтинг IMDb" style="font-weight: normal; font-size: 14px;">

                                            <div style="color: #4B5B6C">
                                                Число голосов IMDb:
                                            </div>
                                            <div class="spacer-10"></div>
                                            <input type="text" class="form-control" name="movie.imdb_vote" value="<% if (movie.imdb_vote) {  %><%- movie.imdb_vote %><% } else { %>0<% } %>" placeholder="Число голосов IMDb" style="font-weight: normal; font-size: 14px;">

                                            <div style="color: #4B5B6C" id="loadingPicture">
                                                URL кадров:
                                            </div>
                                            <div class="spacer-10"></div>
                                            <div class="col-lg-9 col-xs-9 text-center" id="blockPathPicture" style="padding: 0;">
                                                <input type="text" class="form-control" name="movie.pictures" id="textPathPicture" value="<% if (movie.pictures) { %><%= movie.pictures %><% } %>" placeholder="URL кадров из фильма через запятую или ID кадров из КиноПоиск" style="font-weight: normal; font-size: 14px;">
                                            </div>
                                            <div class="col-lg-3 col-xs-3 text-center" id="blockUploadPicture">
                                                <div class="btn-group" style="float: right; margin: 0;">
                                                    <form id="formUploadPicture" enctype="multipart/form-data">
                                                        <input name="picture" id="nameUploadPicture" type="file" class="form-control" style="float: left; width: 68px; padding: 0; background: none; border: 0; margin: 4px 0 0 0; height: 100%;">
                                                        <input class="btn btn-default" id="submitUploadPicture" type="submit" value="Загрузить" style="margin: auto 0 auto 5px; display: none">
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="spacer-10"></div>

                                            <div style="color: #4B5B6C">
                                                URL плеера:
                                            </div>
                                            <div class="spacer-10"></div>
                                            <input type="text" class="form-control" name="movie.player" value="<% if (movie.player) { %><%- movie.player %><% } %>" placeholder="URL плеера для вставки в iframe" style="font-weight: normal; font-size: 14px;">

                                            <div style="color: #4B5B6C">
                                                Качество:
                                            </div>
                                            <div class="spacer-10"></div>
                                            <input type="text" class="form-control" name="movie.quality" value="<% if (movie.quality) { %><%- movie.quality %><% } %>" placeholder="Текущее качество фильма" style="font-weight: normal; font-size: 14px;">

                                            <div style="color: #4B5B6C">
                                                Перевод:
                                            </div>
                                            <div class="spacer-10"></div>
                                            <input type="text" class="form-control" name="movie.translate" value="<% if (movie.translate) { %><%- movie.translate %><% } %>" placeholder="Текущий перевод фильма" style="font-weight: normal; font-size: 14px;">

                                            <div style="color: #4B5B6C">
                                                Своё поле:
                                            </div>
                                            <div class="spacer-10"></div>
                                            <textarea class="form-control custom" name="movie.custom" placeholder='{"name": "Текст к этому полю", "name2": "Текст к этому полю"}'><% if (movie.custom) { %><%- movie.custom %><% } else { %>{"unique": true}<% } %></textarea>
                                            <script>
                                                document.addEventListener('DOMContentLoaded', function () {
                                                    var json = document.querySelector('.custom');
                                                    if (json) {
                                                        jsonPretty();
                                                        json.oninput = function () {
                                                            jsonPretty();
                                                        };
                                                        function jsonPretty() {
                                                            var ugly = document.querySelector('.custom').value;
                                                            if (!ugly) return;
                                                            var obj = JSON.parse(ugly);
                                                            var pr = JSON.stringify(obj, undefined, 4);
                                                            document.querySelector('.custom').value = pr;
                                                        }
                                                    }
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </article>

                            </div>

                            <div class="spacer-10"></div>

                            <div class="row">
                                <div class="col-xs-5 col-md-5">
                                    <a href="javascript:void(0)" data-type="movie" data-id="<%- movie.id %>" class="btn btn-error btn-block del"><span class="fa fa-trash-o"></span>&nbsp;&nbsp;Удалить фильм</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <% } else { %>

                    <div class="row">
                        <!--<div class="col-sm-4">
                            <a href="/<%- config.urls.admin %>/movies?movies=add" class="btn btn-default btn-block">Массовое добавление</a>
                        </div>-->
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input class="form-control" type="text" id="id" placeholder="ID КиноПоиск фильма или ссылка на фильм">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="add"><span class="fa fa-plus"></span> Добавить описание</button>
                                </span>
                            </div>
                            <script>
                                var add = document.querySelector('#add');
                                add.addEventListener('click', function () {

                                    var id = document.querySelector('#id');
                                    var kp_id = parseInt(id.value);
                                    var id_kp = 0;

                                    if (id.value.indexOf('<%- config.domain %>')+1) {

                                        var prefix_id = '<%- config.urls.prefix_id %>' || '/';
                                        var regexpId  = new RegExp(prefix_id + '([0-9]{1,7})', 'ig');
                                        var execId    = regexpId.exec(id.value);
                                        id            = (execId) ? parseInt(execId[1]) : 0;

                                        kp_id = parseInt(id) - parseInt(<%- config.urls.unique_id %>);
                                    }
                                    else if (id.value.indexOf('kinopoisk.ru')+1) {
                                        id_kp = /(film\/|movie\/).*?([0-9]{3,7})\//gi.exec(id.value);
                                        kp_id = (id_kp) ? parseInt(id_kp[2]) : 0;
                                    }

                                    if (kp_id) {
                                        location.href = '/<%- config.urls.admin %>/movies?kp_id=' + kp_id;
                                    }
                                    else {
                                        location.href = '/<%- config.urls.admin %>/movies?kp_id=_add_';
                                    }
                                });
                            </script>
                        </div>
                    </div>

                    <% if (movies && movies.length) { %>

                    <div class="spacer-10"></div>

                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th scope="col" class="th-square">
                                <% if (num-1) { %>
                                <a href="/<%- config.urls.admin %>/movies?num=<%- num-1 %>" class="btn-less" style="margin: 4px;"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                                <% } %>
                            </th>
                            <th scope="col" class="text-muted">
                                Фильмы с уникальным описанием
                            </th>
                            <th scope="col" class="th-square">
                                <% if (next) { %>
                                <a href="/<%- config.urls.admin %>/movies?num=<%- num+1 %>" class="btn-less" style="margin: 4px;"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                <% } %>
                            </th>
                        </tr>
                        </thead>
                        <tfoot style="background-color: #272F38;">
                        <tr>
                            <th scope="col" class="th-square">
                                <% if (num-1) { %>
                                <a href="/<%- config.urls.admin %>/movies?num=<%- num-1 %>" class="btn-less" style="margin: 4px;"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                                <% } %>
                            </th>
                            <th scope="col" class="text-muted">
                                Фильмы с уникальным описанием
                            </th>
                            <th scope="col" class="th-square">
                                <% if (next) { %>
                                <a href="/<%- config.urls.admin %>/movies?num=<%- num+1 %>" class="btn-less" style="margin: 4px;"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                <% } %>
                            </th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <% movies.forEach(function(movie) { %>
                        <tr>
                            <td class="td-highlight">
                                <a href="javascript:void(0)" data-type="movie" data-id="<%- movie.id %>" class="btn-less del" style="margin: 4px;"><i class="fa fa-times"></i></a>
                            </td>
                            <td>
                                <%- movie.kp_id %>. <% if (movie.title) { %><%- movie.title %><% } else { %>Фильм с ID КиноПоиск <%- movie.kp_id %><% } %>&nbsp;<a href="<%- config.protocol + config.domain + '/' + config.urls.movie + '/' + config.urls.prefix_id + movie.id %>" style="text-decoration:none;" target="_blank"><span class="fa fa-external-link-square"></span></a>
                            </td>
                            <td class="td-highlight">
                                <a href="/<%- config.urls.admin %>/movies?kp_id=<%- movie.kp_id %>" class="btn-less" style="margin: 4px;"><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>

                    <% } %>

                    <% } %>

                </div>
            </div>

            <% include includes/footer.ejs %>

        </div>
    </div>
</div>

</body>
</html>