<a href="/">
    <img src="/themes/default/public/mobile/logo.png" class="logo" alt="Логотип">
</a>

<div class="info continueViewingBlock" style="float: right; display: none">
    <a href="javascript:void(0)" id="continueViewing">Продолжить&nbsp;►</a>
</div>

<div class="clear"></div>

<form action="/<%- page.urls.search %>/title" method="get">
    <input class="submit" value="Меню" type="button" style="left: 10px; right: auto" onclick="openNav()">
    <input type="text" class="text" name="q" value="" placeholder="Название фильма ...">
    <input type="submit" class="submit" value="Найти">
</form>

<div id="menuSidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/<%- page.urls.genre %>">Жанры</a>
    <a href="/<%- page.urls.year %>">Годы</a>
    <a href="/<%- page.urls.country %>">Страны</a>
    <a href="/<%- page.urls.actor %>">Актеры</a>
    <a href="/<%- page.urls.director %>">Режиссеры</a>
    <a href="/<%- page.urls.content %>">Контент</a>
</div>

<script>
    function openNav() {
        document.getElementById('menuSidenav').style.width = '100%';
    }
    function closeNav() {
        document.getElementById('menuSidenav').style.width = '0';
    }
</script>

<div class="clear"></div>

<% if (typeof page.adv == 'object' && page.adv.top) { %>
<div style="text-align: center; margin: 10px auto;">
    <%- page.adv.top %>
</div>
<div class="clear"></div>
<% } %>